<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <%- include('partials/meta.ejs') %>
            <title>Edit Issue</title>
    </head>
</head>

<body>
    <%- include('partials/nav.ejs') %>

        <main>
            <form name="myform" action="/editprocess/<%= _id %>" method="Post" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td><label>Station ID</label></td>
                        <td><input id="station" placeholder="Station ID" type="text" name="station"
                                value="<%= station %>"><br /></td>
                    </tr>

                    <tr>
                        <td><label class="connector">Connector type</label></td>
                        <td><select name="connector" id="connector">

                                <option value="CCS" <%=connector=="CCS" ?"selected":""%>>CCS</option>
                                <option value="CHAdeMO" <%=connector=="CHAdeMO" ?"selected":""%>>CHAdeMO</option>
                                <option value="J1772" <%=connector=="J1772" ?"selected":""%>>J1772</option>
                                <option value="Tesla" <%=connector=="Tesla" ?"selected":""%>>Tesla</option>
                            </select></td>
                    </tr>
                    <tr>
                        <td><label>Address</label></td>
                        <td><input id="address" placeholder="Address" type="text" name="address"
                                value="<%= address %>"><br /></td>
                    </tr>
                    <tr>
                        <td> <label>City</label></td>
                        <td><input id="city" placeholder="City" type="text" name="city" value="<%= city %>"><br /></td>
                    </tr>
                    <tr>
                        <td><label>Province</label></td>
                        <td> <select name="province" id="province">
                                <option value="Alberta" <%=province=="Alberta" ?"selected":""%>>Alberta</option>
                                <option value="BritishColumbia" <%=province=="BritishColumbia" ?"selected":""%>>British
                                    Columbia</option>
                                <option value="Manitoba" <%=province=="Manitoba" ?"selected":""%>>Manitoba</option>
                                <option value="NewBrunswick" <%=province=="NewBrunswick" ?"selected":""%>>New Brunswick
                                </option>
                                <option value="Newfoundland" <%=province=="Newfoundland" ?"selected":""%>>Newfoundland
                                    and Labrador</option>
                                <option value="NorthwestTerritories" <%=province=="NorthwestTerritories"
                                    ?"selected":""%>>Northwest Territories</option>
                                <option value="NovaScotia" <%=province=="NovaScotia" ?"selected":""%>>Nova Scotia
                                </option>
                                <option value="Nunavut" <%=province=="Nunavut" ?"selected":""%>>Nunavut</option>
                                <option value="Ontario" <%=province=="Ontario" ?"selected":""%>>Ontario</option>
                                <option value="Quebec" <%=province=="Quebec" ?"selected":""%>>Quebec</option>
                                <option value="PEI" <%=province=="PEI" ?"selected":""%>>Prince Edward Island</option>
                                <option value="Saskatchewan" <%=province=="Saskatchewan" ?"selected":""%>>Saskatchewan
                                </option>
                                <option value="Yukon" <%=province=="Yukon" ?"selected":""%>>Yukon</option>
                            </select><br /></td>
                    </tr>
                    <tr>
                        <td><label>Postal Code</label></td>
                        <td> <input id="postalcode" placeholder="H0H0H0" type="postalcode" name="postalcode"
                                value="<%= postalcode %>"><br /></td>
                    </tr>

                    <tr>
                        <td><label>Contact Name</label></td>
                        <td><input id="name" placeholder="First Last" type="text" name="name" value="<%= name %>"><br />
                        </td>
                    </tr>
                    <tr>
                        <td><label>Contact Phone</label></td>
                        <td> <input id="phone" placeholder="1231231234" type="phone" name="phone"
                                value="<%= phone %>"><br /></td>
                    </tr>
                    <tr>
                        <td> <label>Contact Email</label></td>
                        <td> <input id="email" placeholder="test@test.com" type="text" name="email"
                                value="<%= email %>"><br /></td>
                    </tr>


                    <tr>
                        <td><label for="describeissue">Describe Issue Here</label></td>
                        <td><input type="text" id="describeissue" name="describeissue" value="<%= describeissue %>">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="uploadphoto">Upload photo</label></td>

                        <td><img src="data:image/jpeg;base64,<%= Buffer.from(uploadphoto, " binary").toString("base64")
                                %>"
                            alt="" style="max-width:400px">
                            <input type="file" id="uploadphoto" name="uploadphoto">
                        </td>
                    </tr>


                </table>
                <br>



                <input type="submit" value="Update Issue">
                <p id="errors">
                    <!-- if there are errors render each one -->
                    <% if(typeof(errors) !='undefined' ){ for(var error of errors){ %>
                        <%= error.msg %> <br>
                            <% } } %>

                </p>
            </form>
        </main>
        <%- include('partials/footer.ejs') %>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="/js/tinymce/tinymce.min.js"></script>
            <script>
                tinymce.init({
                    selector: '#describeissue'
                });
            </script>


</body>

</html>